/* CSS styles for the table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}
th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}
th {
  background-color: #eee;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* CSS styles for the form */
label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
button.delete {
  background-color: #dc3545;
}
